@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-hero-clamp font-semibold leading-[1] tracking-wide;
}

.heading {
  @apply font-extrabold font-outfit uppercase text-primary-darken;
}

.nav_scrolled {
  @apply sticky top-0 backdrop-blur-sm;
}

.nav_item {
  @apply  cursor-pointer font-outfit hover:scale-125 transition-all duration-200 active:translate-y-2 font-semibold text-accent-darken p-2 select-none;
}

.link_button {
  @apply  font-outfit bg-accent-darken text-white rounded-full px-3 py-1 hover:bg-transparent  hover:backdrop-blur-md hover:text-accent-darken transition-all duration-100 active:translate-y-2 hover:scale-110 hover:border-accent-darken hover:border-2;
}

.padding_page {
  @apply px-4 md:px-[6vw]
}

.room_image {
  @apply col-span-2 w-full rounded-[50px] relative;
}

.header-3 {
  @apply text-3xl font-semibold text-accent-darken
}

.room_price {
  @apply absolute bottom-0  flex bg-white px-5 py-3 items-end;
}

.room_price--right {
  @apply right-0 rounded-tl-[30px];
}

.room_price--left {
  @apply left-0 rounded-tr-[30px];
}
